body {
	align-items: center;
	justify-content: center;
	background: green;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 48px;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100vw;
	transition: background 0.25s ease-in;
}

body.flat {
	background: blue;
}

body.sharp {
	background: red;
}


h1, h2 {
	margin: 0;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 72px;
}

